<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Conocenos</title>
		<link rel="stylesheet" href="static/styles_conocenos.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<a href="perfil"> <i class="fa-solid fa-user"></i> </a>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>

	
	<section class="section1">
 			<div class="contenido">
 				<h1>Nosotros</h1>
 				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
 			</div>
 				<img src="static/img/conocenos_imagen1.jpg" alt="Imagen del banner">
	</section>


	<section class="seccion2">
	    		<img src="static/img/conocenos_imagen2.jpg" alt="Imagen 2.1">
		<div class="contenido2">
 			 <h2 class="title">Novedades</h2>
			 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.</p>
		</div>
	</section>
	
	<section class="seccion2m">
 	  	<div class="contenido2m">
 	 		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus . Adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam. Adipiscing elit. Nulla ac augue in tellus hendrerit aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.Adipiscing elit. Nulla ac augue in tellus hendrerit aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac augue in tellus hendrerit aliquam.</p>
 	   	</div>
  	    		<img src="static/img/conocenos_imagen3.jpg" alt="Imagen 2.2">
	</section>

	<section class="seccion3">
		<div class="imagen3">
 		<h2>Guía</h2>
  		<img src="static/img/conocenos_imagen4.jpg" alt="Imagen de la Guía">
		</div>
		<div class="contenido3">  	
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
 		 </div>
	</section>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<button class="button-footer">
							<p class="title-footer">Libro de reclamaciones</p>
						</button>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<button  class="button-footer">
							<a href="conocenos">
							<p class="title-footer">Conócenos</p></a>
						</button>
					</div>

					<div class="my-account">
						<button  class="button-footer">
							<a href="transparencia">
							<p class="title-footer">Transparencia</p></a>
						</button>
					</div>

					<div class="newsletter">
						<p class="title-footer">Estamos para ayudarte</p>

						<div class="content">
							<p>
								Horario de atención: 8am-8pm
							</p>
							<br>
							<a href="contactanos">
							<button>Contáctanos</button></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	
	</body>
</html>