<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Contactanos</title>
		<link rel="stylesheet" href="static/styles_contactanos.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<a href="perfil"> <i class="fa-solid fa-user"></i> </a>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>

	
	<section class="section1">
 			<div class="contenido">
 				<h1>¿Necesitas ayuda?</h1>
 				<h2>Juntos resolveremos tus dudas</h2>
 				<img src="static/img/imagen_contactanos.jpg" alt="Imagen del banner">
			</div>
	</section>


	<section class="section2">
  		<div class="contenido2">
    			<h1>Contactanos por nuestros medios</h1>
    			<div class="cuadros">
      				<div class="cuadro">
        				<img src="static/img/WhatsApp.jpg" alt="Imagen 1">
       					<p>Whatsapp </p>
        				<p>+51 123456789</p>
        				<p>Lunes a viernes: 8:00 - 16:00</p>
      				</div>
      				<div class="cuadro">
        				<img src="static/img/contact.jpg" alt="Imagen 2">
       					<p>Contact Center</p>
        				<p>+01 123456789</p>
        				<p>Lunes a viernes: 8:00 - 16:00</p>
      				</div>
      				<div class="cuadro">
        				<img src="static/img/mail.jpg" alt="Imagen 3">
       					<p>Mail</p>
        				<p>maxsaavedra@gmail.com</p>
        				<p>Lunes a viernes: 8:00 - 16:00</p>
      				</div>
    			</div>
  		</div>
	</section>

	<section class="seccion3">
  		<div class="contenido3">
    			<h1>Formulario de consulta</h1>
    			<form>
      				<div class="form-group form-group-inline">
        				<label for="nombre">Nombre:</label>
        				<input type="text" id="nombre" name="nombre" class="input-small" required>
        				<label for="apellido">Apellido:</label>
        				<input type="text" id="apellido" name="apellido" class="input-small" required>
      				</div>
      				<div class="form-group ">
        				<label for="correo">Correo electrónico:</label>
        				<input type="email" id="correo" name="correo" class="input-large" required>
      				</div>
      				<div class="form-group ">
        				<label for="celular">Número de celular:</label>
        				<input type="tel" id="celular" name="celular" class="input-medium" required>
      				</div>
      				<div class="form-group">
        				<label for="comentario">Comentario:</label>
        				<textarea id="comentario" name="comentario" rows="5" class="textarea-large" required></textarea>
      				</div>
      				<div class="form-group">
        				<button type="submit">Enviar consulta</button>
      				</div>
    			</form>
  		</div>
	</section>


		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<button class="button-footer">
							<p class="title-footer">Libro de reclamaciones</p>
						</button>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<button  class="button-footer">
							<a href="conocenos">
							<p class="title-footer">Conócenos</p></a>
						</button>
					</div>

					<div class="my-account">
						<button  class="button-footer">
							<a href="transparencia">
							<p class="title-footer">Transparencia</p></a>
						</button>
					</div>

					<div class="newsletter">
						<p class="title-footer">Estamos para ayudarte</p>

						<div class="content">
							<p>
								Horario de atención: 8am-8pm
							</p>
							<br>
							<a href="contactanos">
							<button>Contáctanos</button></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>	
	</body>
</html>
