<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Regístrate</title>
		<link rel="stylesheet" href="static/styles_iniciarS.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
		<script src="https://kit.fontawesome.com/1a8c6dd550.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<header class="header">
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="/home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<i class="fa-solid fa-user"></i>
				</div>
			</div>
		</header>

		<section class="login">
			<div class="form">
				<h2>Regístrate</h2>
				<form action="/registrar" method="POST">
					<div class="input-field">
						<input type="text" placeholder="Ingresa tu usuario" id="usuario" name="usuario" required />
						<i class="fa-regular fa-envelope"></i>
					</div>
					<div class="input-field">
						<input type="password" placeholder="Ingresa tu contraseña" id="contraseña" name="contraseña" required />
						<i class="uil uil-lock icon"></i>
					</div>
					<div class="input-field button">
						<button type="submit">Registrarme</button>
					</div>
					<div class="login-signup">
						<p>¿Ya tienes una cuenta? <a href="login">Inicia Sesión</a></p>
					</div>
				</form>
			</div>			
		</section>

		<footer class="pie-pagina">
			<div>
				<h1>Contactate con nostros</h1>
				<span class="text">Si tienes alguna duda, no dudes en contactarnos</span>
			</div>
			<div class="image-footer"><img src="./static/img/soporte.svg" alt="" height="20%"></div>
		</footer>
		
		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

	</body>
</html>
