<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>BloodCare</title>
		<link rel="stylesheet" href="../static/styles.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="/home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<a href="perfil"> <i class="fa-solid fa-user"></i> </a>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>

		<section class="banner">
			<div class="content-banner">
				<p>Consigue beneficios ayudándonos a salvar vidas</p>
				<h2> Te damos la bienvenida a <br/> BLOODCARE</h2>
				<a href="#">Registrarse ahora</a>
			</div>
		</section>

		<main class="main-content">

			<section class="container top-categories">
				<h1 class="heading-1">Cuéntanos, ¿qúe estás buscando?</h1>
				<div class="container-categories">
					<button class="button-buscar">					
						<div class="card-category category-usuario">
							<a href="crear_cuenta"><p>Crear una cuenta</p></a>
						</div>
					</button>

					<button class="button-buscar">
						<div class="card-category category-cita">
							<a href="solicitud"><p>Agendar una cita</p></a>
						</div>
					</button>

					<button class="button-buscar">
						<div class="card-category category-sede">
							<a href="sedes"><p>Ubicar sedes	<br> y clínicas</p></a>
						</div>
					</button>

					<button class="button-buscar">
						<div class="card-category category-bonus">
							<a href="sedes"><p>Ver beneficios</p></a>
						</div>
					</button>
				</div>
			</section>

			<section class="review" id="review">

				<h1 class="heading-1">Reseñas</h1>
			
				<div class="swiper-container review-slider">
			
					<div class="swiper-wrapper">
			
						<div class="swiper-slide slide">
							<i class="fas fa-quote-right"></i>
							<div class="user">
								<img src="static/img/p1.jpg" alt="">
								<div class="user-info">
									<h3>Juan Alcachofa</h3>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
						</div>
			
						<div class="swiper-slide slide">
							<i class="fas fa-quote-right"></i>
							<div class="user">
								<img src="static/img/p2.jpg" alt="">
								<div class="user-info">
									<h3>Juan Perez</h3>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
						</div>
			
						<div class="swiper-slide slide">
							<i class="fas fa-quote-right"></i>
							<div class="user">
								<img src="static/img/p3.jpg" alt="">
								<div class="user-info">
									<h3>Jaimito</h3>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
						</div>
			
						<div class="swiper-slide slide">
							<i class="fas fa-quote-right"></i>
							<div class="user">
								<img src="static/img/p4.jpg" alt="">
								<div class="user-info">
									<h3>Hermenegilda</h3>
									<div class="stars">
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star"></i>
										<i class="fas fa-star-half-alt"></i>
									</div>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit fugiat consequuntur repellendus aperiam deserunt nihil, corporis fugit voluptatibus voluptate totam neque illo placeat eius quis laborum aspernatur quibusdam. Ipsum, magni.</p>
						</div>
			
					</div>
			
				</div>
				
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<button class="button-footer">
							<p class="title-footer">Libro de reclamaciones</p>
						</button>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<button  class="button-footer">
							<a href="conocenos">
							<p class="title-footer">Conócenos</p></a>
						</button>
					</div>

					<div class="my-account">
						<button  class="button-footer">
							<a href="transparencia">
							<p class="title-footer">Transparencia</p></a>
						</button>
					</div>

					<div class="newsletter">
						<p class="title-footer">Estamos para ayudarte</p>

						<div class="content">
							<p>
								Horario de atención: 8am-8pm
							</p>
							<br>
							<a href="contactanos"><button>Contáctanos</button></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- custom js file link  -->
		<script>var swiper = new Swiper(".review-slider", {
			spaceBetween: 20,
			centeredSlides: true,
			autoplay: {
			  delay: 7500,
			  disableOnInteraction: false,
			},
			loop:true,
			breakpoints: {
			  0: {
				  slidesPerView: 1,
			  },
			  640: {
				slidesPerView: 2,
			  },
			  768: {
				slidesPerView: 2,
			  },
			  1024: {
				slidesPerView: 3,
			  },
			},
		  });</script>
	</body>
</html>
