<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Perfil</title>
		<link rel="stylesheet" href="../static/styles_perfil.css" />
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<a href="perfil"> <i class="fa-solid fa-user"></i> </a>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>


		<section class="section1">
		<div class="contenido5">
			<img src="static/img/foto_perfil.jpg" alt="Imagen de perfil" class="perfil-img">
			<h2>Datos personales</h2>
			<form action="/perfil" method="post">
				<div class="datos-personales">
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" name="nombre" class="input-large" value="{{ nombre }}" required>
					</div>
					<div class="form-group">
						<label for="dni">DNI:</label>
						<input type="text" id="dni" name="dni" class="input-small" value="{{ dni }}" required>
					</div>
					<div class="form-group">
						<label for="telefono">Teléfono:</label>
						<input type="tel" id="telefono" name="telefono" class="input-small" value="{{ telefono }}" required>
					</div>
					<div class="form-group">
						<label for="direccion">Dirección:</label>
						<input type="text" id="direccion" name="direccion" class="input-small" value="{{ direccion }}" required>
					</div>
					<div class="form-group">
						<label for="fecha-nacimiento">Fecha de nacimiento:</label>
						<input type="date" id="fecha-nacimiento" name="fecha-nacimiento" class="input-small" value="{{ Fecha }}" required>
					</div>
				</div>
			</form>
		</div>
		</section>


		<section class="section2">
			<h1 class="titulo2">Historial de donaciones</h1>
			<hr class="separador2">
			<form action="/perfil" method="post">
				<div class="fila2">
					<div class="columna2">Descripción</div>
					<div class="columna2">Detalles</div>
				</div>
			
				{% if donacion %}
					<div class="fila2">
						<div class="columna2">{{ donacion }}</div>
						<div class="columna2"><button class="boton2">Saber más</button></div>
					</div>
				{% else %}
					<div class="fila2">
						<div class="columna2"> No registra donaciones </div>
						<div class="columna2"><button class="boton2">Saber más</button></div>
					</div>
				{% endif %}
			</form>
		</section>
		

		<section class="section3">
			<h1 class="titulo3">Beneficios recibidos</h1>
			<form action="/perfil" method="post">		
				<div class="fila3">
					<div class="cuadro3">
					<img class="imagen3" src="static/img/beneficio1.jpg" alt="Imagen 1">
					<div class="texto3">
						<p>{{beneficio}}</p>
						<button class="boton3">Detalles</button>
					</div>
					</div>
					<div class="cuadro3">
					<img class="imagen3" src="static/img/beneficio2.jpg" alt="Imagen 2">
					<div class="texto3">
						<p>{{beneficio}}</p>
						<button class="boton3">Detalles</button>
					</div>
					</div>
					<div class="cuadro3">
					<img class="imagen3" src="static/img/beneficio3.jpg" alt="Imagen 3">
					<div class="texto3">
						<p>{{beneficio}}</p>
						<button class="boton3">Detalles</button>
					</div>
					</div>
				</div>
			</form>	
			<a href="eliminar">
				<div class="fila4">
					<button class="boton4">Eliminar cuenta</button>
				</div>
			</a>
		</section>
	

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<button class="button-footer">
							<p class="title-footer">Libro de reclamaciones</p>
						</button>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<button  class="button-footer">
							<a href="conocenos">
							<p class="title-footer">Conócenos</p></a>
						</button>
					</div>

					<div class="my-account">
						<button  class="button-footer">
							<a href="transparencia">
							<p class="title-footer">Transparencia</p></a>
						</button>
					</div>

					<div class="newsletter">
						<p class="title-footer">Estamos para ayudarte</p>

						<div class="content">
							<p>
								Horario de atención: 8am-8pm
							</p>
							<br>
							<a href="contactanos">
							<button>Contáctanos</button></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	

	</body>
</html>