<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Ubicaciones</title>
		<link rel="stylesheet" href="../static/styles_sedes.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<i class="fa-solid fa-user"></i>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>

		<main class="main-content">

			<section class="container blogs">
				<h1 class="heading-1">Nuestra Red de Hospitales y Clínicas</h1>

				<div class="container-blogs">
					<div class="card-blog">
						<div class="container-img">
							<img src="static/img/sede1.jpg" alt="Imagen Blog 1" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Clínica Jesús del Norte</h3>
							<span>29 Noviembre 2022</span>
							<p>
								La Clínica Jesús del Norte pone a su disposición un completo staff médico de reconocidos especialistas que ofrecen diagnósticos confiables.
							</p>
							<a href="https://www.jesusdelnorte.com.pe/"><div class="btn-read-more">Leer más</div></a>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="static/img/sede2.jpg" alt="Imagen Blog 2" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Clínica San Juan de Dios</h3>
							<span>29 Noviembre 2022</span>
							<p>
								Atención integral en 25 especialidades con médicos reconocidos para un diagnóstico preciso, tratamiento efectivo y acompañamiento espiritual.
							</p>
							<a href="https://clinicasanjuandedioslima.pe/"><div class="btn-read-more">Leer más</div></a>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="static/img/sede3.jpg" alt="Imagen Blog 3" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Hospital N. Cayetano Heredia</h3>
							<span>29 Noviembre 2022</span>
							<p>
								HOSPITAL NACIONAL CAYETANO HEREDIA, estamos comprometidos en brindarle atención integral de salud especializada con calidez, equidad y respeto.
							</p>
							<a href="https://www.hospitalcayetano.gob.pe/PortalWeb/"><div class="btn-read-more">Leer más</div></a>
						</div>
					</div>
					<div class="card-blog">
						<div class="container-img">
							<img src="static/img/sede4.jpg" alt="Imagen Blog 3" />
							<div class="button-group-blog">
								<span>
									<i class="fa-solid fa-magnifying-glass"></i>
								</span>
								<span>
									<i class="fa-solid fa-link"></i>
								</span>
							</div>
						</div>
						<div class="content-blog">
							<h3>Clínica Internacional</h3>
							<span>29 Noviembre 2022</span>
							<p>
								Nuestras sedes de Lima y San Borja están acreditadas por Joint Commission International, máxima distinción internacional otorgada a una entidad de salud.
							</p>
							<a href="https://www.clinicainternacional.com.pe/"><div class="btn-read-more">Leer más</div></a>
						</div>
					</div>
				</div>
			</section>
		</main>

		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<button class="button-footer">
							<p class="title-footer">Libro de reclamaciones</p>
						</button>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>
							<span class="twitter">
								<i class="fa-brands fa-twitter"></i>
							</span>
							<span class="youtube">
								<i class="fa-brands fa-youtube"></i>
							</span>
							<span class="pinterest">
								<i class="fa-brands fa-pinterest-p"></i>
							</span>
							<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<button  class="button-footer">
						<a href="conocenos">
							<p class="title-footer">Conócenos</p></a>
						</button>
					</div>

					<div class="my-account">
						<button  class="button-footer">
							<a href="transparencia">
							<p class="title-footer">Transparencia</p></a>
						</button>
					</div>

					<div class="newsletter">
						<p class="title-footer">Estamos para ayudarte</p>

						<div class="content">
							<p>
								Horario de atención: 8am-8pm
							</p>
							<br>
							<a href="contactanos"><button>Contáctanos</button></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>