<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Transparencia</title>
		<link rel="stylesheet" href="static/styles_transparencia.css" />
	</head>
	<body>
		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Soporte al cliente</span>
							<span class="number">123-456-7890</span>
						</div>
					</div>

					<div class="container-logo">
						<i class="fa-solid fa-droplet"></i>
						<h1 class="logo"><a href="home">BloodCare</a></h1>
					</div>

					<div class="container-user">
						<i class="fa-solid fa-user"></i>
				</div>
			</div>
			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="home">Inicio</a></li>
						<li><a href="conocenos">Conócenos</a></li>
						<li><a href="contactanos">Contáctanos</a></li>
					</ul>

					<form class="search-form">
						<input type="search" placeholder="Buscar..." />
						<button class="btn-search">
							<i class="fa-solid fa-magnifying-glass"></i>
						</button>
					</form>
				</nav>
			</div>
		</header>

		<main class="main-content">

			<section class="container blogs">
				<h1 class="heading-1">Políticas de Privacidad</h1>

				<section class="info-container">
					<h1>1. Objetivos</h1>
					<p>BloodCare es una plataforma diseñada con el objetivo de gestionar 
					 un sistema eficiente de donantes de sangre. Su principal finalidad es
					 facilitar la comunicación y coordinación entre personas dispuestas a 
					 donar sangre y los hospitales suscritos a su red, promoviendo así la 
					 donación de sangre de manera regular y constante.
					 <br>
					 El objetivo principal de BloodCare es establecer una comunidad sólida y 
					 comprometida de donantes de sangre, brindando a los usuarios la oportunidad 
					 de registrar su disposición para donar sangre y proporcionar información 
					 relevante sobre su tipo de sangre y ubicación. Los hospitales y centros 
					 médicos afiliados a la plataforma pueden acceder a esta información para 
					 identificar y contactar a los donantes más adecuados en caso de necesitar 
					 sangre para transfusiones o tratamientos médicos.
					<br>
					 Además de facilitar la comunicación entre donantes y hospitales, BloodCare 
					 también tiene como objetivo incentivar la donación de sangre a través de un 
					 sistema de beneficios. Los donantes registrados en la plataforma pueden 
					 recibir recompensas o incentivos por su generosidad y compromiso, que pueden 
					 variar desde descuentos en servicios médicos hasta puntos canjeables por 
					 productos o servicios en establecimientos asociados.
					</p>
				</section>

				<section class="info-container-shadow">
					<h1>2. Alcance y Plazo de conservación</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and scrambled it to make a type 
						specimen book. It has survived not only five centuries, but also the leap into 
						electronic typesetting, remaining essentially unchanged. It was popularised in 
						the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
						and more recently with desktop publishing software like Aldus PageMaker including 
						versions of Lorem Ipsum
					</p>
				</section>

				<section class="info-container">
					<h1>3. Marco Normativo y Principios Rectores</h1>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a 
						piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard 
						McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of 
						the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through 
						the cites of the word in classical literature, discovered the undoubtable source. Lorem 
						Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The 
						Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the 
						theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, 
						"Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						<br>
						The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
						interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
						are also reproduced in their exact original form, accompanied by English versions from 
						the 1914 translation by H. Rackham.
					</p>
				</section>

				<section class="info-container-shadow">
					<h1>4. Definición de Datos Personales</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
						when an unknown printer took a galley of type and scrambled it to make a type 
						specimen book. It has survived not only five centuries, but also the leap into 
						electronic typesetting, remaining essentially unchanged. It was popularised in 
						the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
						and more recently with desktop publishing software like Aldus PageMaker including 
						versions of Lorem Ipsum
					</p>
				</section>

				<section class="info-container">
					<h1>5. ¿Para Qué Utilizamos la Información del Usuario</h1>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a 
						piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard 
						McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of 
						the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through 
						the cites of the word in classical literature, discovered the undoubtable source. Lorem 
						Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The 
						Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the 
						theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, 
						"Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
						<br>
						The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those 
						interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero 
						are also reproduced in their exact original form, accompanied by English versions from 
						the 1914 translation by H. Rackham.
					</p>
				</section>
			</section>
		</main>

		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
